body {
  background-color: black;
}

.balls {
  height: 50px;
  width: 50px;
}

#pokeball {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.roll {
	-webkit-animation: roll 1.65s linear both;
	        animation: roll 1.65s linear both;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
