body {
  background-color: white;
}

#searchBar {
  width: 245px;
  height: 22px;
  margin-left: 40%;
  margin-top: 30px;
}

#myPokemon {
  margin-left: 20px;
  height: 100px;
  width: 100px;
  :hover {
    cursor: pointer;
  }
}

.info {
  text-align: center;
  display: grid;
  text-transform: capitalize;
  font-family: sans-serif;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 146px;
  height: 146px;
}

#pokeball {
  position: fixed;
  bottom: 5%;
  right: 5%;

  .balls {
    height: 35px;
    width: 35px;
  }

  .roll {
  	-webkit-animation: roll 1.75s linear both;
  	        animation: roll 1.75s linear both;
  }

  @-webkit-keyframes roll {
    0% {
      -webkit-transform: translateX(-1200px) rotate(-540deg);
              transform: translateX(-1200px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes roll {
    0% {
      -webkit-transform: translateX(-1200px) rotate(-540deg);
              transform: translateX(-1200px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
}
